
<div class='border-bottom'>
  <h2 style = "text-align: center" class = "mt-3"> All you requests</h2>

    <div class = "d-flex mb-3 justify-content-center">
    <%= simple_form_for(:search, url: dashboard_path, method: "GET") do |f| %>
      <button type="button", name="pending", value="hello", class="btn btn-ghost"> 3 Pending <i class="far fa-clock"></i></button>
      <button type="button" class = "btn btn-ghost">4 Accepted <i class="fas fa-check"></i></button>
      <button type="button" class="btn btn-ghost">5 Rejected <i class="far fa-times-circle"></i></button>
    <%end%>
    </div>

</div>

<div class='container top-margin'>
  <div class= 'row'>
    <div class='col-12'>
      <ul class = "align-items-center justify-content-center">

       <%@rentings.each do |renting| %>
        <li class = "no-li-style">
          <div class = "card-product ">
              <div class = "card-information space-between" >
                <div class = "card-user"  >
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
                  <div class="card-user-infos">
                  <h2><%=renting.user.email%></h2>
                  <h3> Message :</h3>
                  <p><%=renting.review_content%></p>
                  <h2 id="date"><%=" #{(renting.ending_date - renting.starting_date).to_i } day - From #{renting.starting_date} to #{renting.starting_date}"%></h2>
                  <h2 id="price"> Price: 20 €</h2>
                </div>
            </div>

        <div class = "card-description">
          <div>
            <h2><i class="fas fa-dice"></i><%=" #{renting.board_game.name}"%></h2>
            <img src="https://www.vindjeu.eu/prd/wp-content/uploads/2017/12/1676-Azul-1.jpg" alt="">
          </div>
          </div>
          </div>


          <div class ="card-validation">
            <button type="button" class = "btn btn-ok">Accept <i class="fas fa-check"></i></button>
            <button type="button" class="btn btn-no"><i class="far fa-times-circle"></i></i></button>
          </div>
  </div>



      </li>
        <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>


