
<div class='border-bottom'>
  <h2 style = "text-align: center" class = "mt-3"> All you requests</h2>

      <% all = current_user.rentings.count %>
      <% pending = current_user.rentings.where(status:"pending").count %>
      <% validated = current_user.rentings.where(status:"validated").count %>
      <% rejected = current_user.rentings.where(status:"rejected").count %>

    <div class = "d-flex mb-3 justify-content-center">
      <a href="dashboard" class="btn btn-ghost"> <%="#{all} rentings "%><i class="fas fa-dice"></i></a>
      <a href="dashboard?status=pending" class="btn btn-ghost"><%="#{pending} Pending "%> <i class="far fa-clock"></i></a>
      <a href="dashboard?status=validated" class="btn btn-ghost"><%="#{validated} Accepted "%><i class="fas fa-check"></i></a>
      <a href="dashboard?status=rejected" class="btn btn-ghost"><%="#{rejected} Rejected "%><i class="far fa-times-circle"></i></a>
    </div>

</div>

<div class='container top-margin'>
  <div class= 'row'>
    <div class='col-12'>
      <ul class = "align-items-center justify-content-center">

       <%@rentings.each do |renting| %>
        <li class = "no-li-style">
          <div class = "card-product ">
              <div class = "card-information space-between" >
                <div class = "card-user"  >
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
                  <div class="card-user-infos">
                  <h2><%=renting.user.email%></h2>
                  <h3> Message :</h3>
                  <p><%=renting.review_content%></p>
                  <h2 id="date"><%=" #{(renting.ending_date - renting.starting_date).to_i } day - From #{renting.starting_date} to #{renting.starting_date}"%></h2>
                  <h2 id="price"> Price: 20 €</h2>
                </div>
              </div>

              <div class = "card-description">
                <div>
                  <h2><i class="fas fa-dice"></i><%=" #{renting.board_game.name}"%></h2>
                  <%= cl_image_tag renting.board_game.photo.key %>
                </div>
              </div>
              </div>


          <div class ="card-validation">
            <button type="button" class = "btn btn-ok">Accept <i class="fas fa-check"></i></button>
            <button type="button" class="btn btn-no"><i class="far fa-times-circle"></i></i></button>
          </div>
  </div>



      </li>
        <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>


