<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('<%= image_path "banner.png" %>');">
  <div class="container">
    <h1>Gamer Corner </h1>
    <p>Exchange and share your board games</p>
  </div>
</div>

<%= render 'shared/search' %>


<h2 class="title"> HOW IT WORKS ?</h2>

<div class="icons-container">
  <div class="icons">
    <div class="icon" style="background-image: url('<%= image_path "game_everyone.png" %>')">
        Rent or new game
      </div>
      <div class="icon" style="background-image: url('<%= image_path "game_trip.png" %>')">
        Find a game for a trip
      </div>
       <div class="icon" style="background-image: url('<%= image_path "fun_party.png" %>')">
        Add fun to your party
      </div>
      <div class="icon" style="background-image: url('<%= image_path "share_fun.png" %>')">
        Share fun
      </div>
      <div class="icon" style="background-image: url('<%= image_path "space.png" %>')">
       Save space
      </div>
      <div class="icon" style="background-image: url('<%= image_path "save.png" %>');">
        Save money & planet
      </div>
    <div class>

    </div>

  </div>
</div>

<div class="container_map">

</div>
