
<div class="search">
  <%= render 'shared/search' %> <br>
</div>
<div class="title">
<h1> All board games</h1>
</div>

<div class='content'>
    <div class="cards">
      <% @board_games.each do |board_game| %>
          <div class = "card-trip">
            <% if board_game.photo.attached? %>
            <%= cl_image_tag board_game.photo.key %>
            <% else %>
              <%= image_tag("game.png") %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h4><%=board_game.name %></h4>
                <p><%=board_game.description%></p>
                <div class="flexbox"><%= link_to 'Go !', board_game, class:"btn-game" %>
                <p class="card-trip-pricing"> 14 € </p></div>

              </div>
            </div>
          </div>
        <% end %>
    </div><!--
      <ul class = "d-flex align-items-center justify-content-center"> -->

<!--       </ul> -->
      <div id="map"
         style="width: 100%; height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
    </div>
</div>
