<div class="container">
  <div class="formulaire_container" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(<%= image_url "games_pions.png" %>);">
    <h1 class="formulaire_title">Add your board game</h1><br>
    <div class = "formulaire">
      <div class = "col-8">
     <%= simple_form_for [@user, @board_game] do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description, required: false %>
        <%= f.input :comment, required: false %>
        <%= f.input :price, required: false %>
        <%= f.input :photo, required: false %>
        <%= f.submit class: "btn btn-game"%>
      <%end%>
    </div>
    </div>
  </div>
</div>
